.ddsmoothmenu{
}

.ddsmoothmenu ul{
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	height: 30px;
	width: 80px;
	margin-right: 5px;
	line-height: 30px;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #333;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #fff;
	background: url(../images/menu_hover.png)
}

/*1st sub level menu*/
.ddsmoothmenu ul li ul {
	position: absolute;
	width: 180px;
	padding: 0 2px;	
	margin: 10px 0 0 5px;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: #fff;
	opacity: 0.96;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font-weight: 500;
	width: 145px; /*width of sub menus*/
	height: 35px;
	padding: 0 20px;
	margin: 0;
	line-height: 35px;
	font-size: 12px;
	text-align: left;
	background: none;
	color: #666;
	border-bottom: 1px solid #f5f5f5;
	opacity: 1;
}

.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
	color: #000;
	padding-left: 21px;
	width: 144px;
	background: none
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}

.login-menu {
	float: right;
}

.exceptionMessage{
	color: red;
	padding-top: 10px;
	font-size: 15px;
}

.form-divider{
	display: flex;
	justify-content: space-between;
}

.order-description{
	font-size: 15px;
	margin-bottom: 30px;
}

.order-description label {
	margin-right: 30px;
}

.order-description > div{
	margin-bottom: 5px;
}

.order-description > button{
	margin-right: 30px;
}