*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body{
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
}

h2{
    font-size: 28px;
    margin-bottom: 20px;
}

table{
    border-spacing:10px;
}

.wrapper{

}

input{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-text{
    padding: 10px 15px;
    background: indianred;
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
}

.error{
    margin: 20px 0;
    padding: 10px 0;
}

.form-main input[type='submit'] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.form-control{
    display: block;
}

.form-group{
    margin-bottom: 15px;
}

.table-row {
    margin: 10px 0;
}

.btn-remove{
    font-size: 15px;
}

@media all and (max-width: 750px) {
    body{
        padding: 15px 0;
        display: block;
    }
}

